body {
  font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../fondosky1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    background-color: transparent;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #666;
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color:#464646;
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  .login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color:#2896b4;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .login-form input[type="submit"]:hover {
    background-color: #898590;
  }
  
  .login-options {
    text-align: center;
    margin-top: 10px;
  }
  
  .login-options a {
    color: #666;
    text-decoration: none;
  }
  
  .login-options span {
    margin: 0 5px;
  }
  

 